.logo {
}
.content {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.search-box {
	display: flex;
	justify-content: center;
}
.search{
	display:flex;
}
input[type="submit"] {
	padding: 15px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	color: #5f6368;
	cursor: pointer;
	font-family: Roboto;
	font-size: 16px;
	margin: 11px 4px;
	min-width: 52px;
	padding: 12px 16px;
	text-align: center;
}
input[type="text"] {
	color:#222;
	border: 1px solid #c2c2c2;
	border-radius: 15px;
	display: block;
	padding: 8px 8px 0 16px;
	flex: 1;
	line-height: 24px;
}
